.meaning {
  margin: 22px 0 0 0;
}

.Definitions h3 {
  font-size: 25px;
  font-weight: 500;
  color: #eb929f;
  margin: 0;
}

.description {
  font-size: 20px;
  font-weight: 500;
}

.example {
  font-size: 18px;
  font-style: italic;
  opacity: 0.7;
  font-weight: 300;
  line-height: 30px;
  margin: 0 0 8px 0;
}
