.phoneticText {
  font-size: 20px;
  font-weight: 300;
}

.playAudio {
  color: #ff7b8f;
  font-size: 30px;
  padding-right: 5px;
}

.playAudio:hover {
  color: rgb(187, 50, 71);
  font-size: 30px;
  padding-right: 5px;
  cursor: pointer;
}
