.Synonyms ul {
  padding: 0;
  opacity: 0.7;
  font-weight: 300;
  margin: 0;
}

.Synonyms li {
  font-size: 14px;
  display: inline-block;
  padding-right: 15px;
}

.Synonyms .heading {
  color: #ff7b8f;
}
